---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// 1. Ekip üyelerini filtrele
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// 2. Markdown içeriğini (Body kısmını) render etmek için hazırlık yapıyoruz
const teamMembersWithContent = await Promise.all(
  publishedTeamMembers.map(async (member) => {
    const { Content } = await member.render();
    return { ...member, Content };
  })
);
---

<Layout title="Hakkımızda - Agora Go Akademisi">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Agora Go Akademisi</Fragment>
      <Fragment slot="desc">kısaca...</Fragment>
    </Sectionhead>

    <div class="mt-16 max-w-4xl mx-auto">
      <div class="bg-slate-50 p-10 rounded-2xl border border-slate-100 text-center hover:shadow-md transition-shadow duration-300">
        
        <h2 class="font-bold text-2xl text-slate-800 mb-4">
          Vizyonumuz
        </h2>
        <p class="text-slate-600 leading-relaxed">
          Go Akademisi olarak vizyonumuz; her seviyedeki oyuncunun gelişimine katkı sağlamak, go kültürünü yaymak ve oyunun Türkiye'de daha geniş kitlelere ulaşmasını sağlamaktır.
      
      </div>
    </div>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-16">
      {
        teamMembersWithContent.map((item) => (
          <div class="group">
            <div class="w-full aspect-square overflow-hidden rounded-md bg-slate-100">  
              <Picture
                src={item.data.avatar.src}
                alt={item.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full h-full object-cover object-center transition duration-300 group-hover:scale-105"
              />
            </div>

            <div class="mt-5 text-center">
              <h2 class="text-lg font-bold text-gray-800">{item.data.name}</h2>
              <h3 class="text-sm font-medium text-slate-500 mb-4">
                {item.data.title}
              </h3>
              
              <div class="text-slate-600 text-sm leading-relaxed px-2">
                <item.Content />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>