---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Fighting Spirit",
    price: "2000 TL",
    popular: false,
    features: [
      "14-10 kyu seviyeleri için",
      "13 kişi Kontejan",
      "Kendi maçının analizi ",
      "6 haftalık eğitim programı",
      "Basic Integrations",
      "Community Support",
    ],
    button: {
      text: "Bize Ulaşın",
      link: "/contact",
    },
  },
  {
    name: "Black Belt",
    price: "2000 TL",
    popular: true,
    features: [
      "9-5 kyu seviyeleri için",
      "13 kişi Kontejan",
      "20 Custom domains",
      "6 haftalık eğitim programı",
      "sdf sdf",
      "sdf sdf",
    ],
    button: {
      text: "Bize Ulaşın",
      link: "/contact",
    },
  },
  {
    name: "Senior",
    price: "2000 TL",
    popular: false,
    features: [
      "4-1 kyu seviyeleri için",
      "13 kişi Kontenjan",
      "asdasdsadas",
      "6 haftalık eğitim programı",
      "asdasdas",
      "sdgsd",
    ],
    button: {
      text: "Bize Ulaşın",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kurs Planları</Fragment>
      <Fragment slot="desc">
        Lise ve üniversite öğrencilerine yönelik özel fiyatlandırma için lütfen bizimle iletişime geçiniz.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
