---
const { class: className, fluid = false } = Astro.props;
---

<div class:list={[
  "mx-auto px-4 lg:px-8", // Kenar boşluklarını biraz artırdık
  fluid ? "w-full max-w-[1920px]" : "max-w-screen-xl", // Fluid ise geniş, değilse standart
  className
]}>
  <slot />
</div>