---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Online Ligler",
    description:"Her ay yeni tekrarlanan ligler ile seviyeni test et.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Bireysel Oyun Analizi",
    description: "Kendi liginizdeki eğitmen ile oynadığınız oyunları analiz edin. Kişiliğinizin yansıması olan oyun stilinizi keşfedin",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Agora içeriklerine erişim",
    description:"Seviyenize uygun hazırlanmış tsumego ve ders içeriklerine erişin.",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Topluluk Destekli",
    description:"Koca bir topluluk ile birlikte öğrenin ve gelişin.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Agora'nın Özellikleri
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Kendi seviyenize uygun dersler ve lig ile bir taş daha güçlenin.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
