---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Online Ligler",
    description:" Aktif oyuncu havuzu ile 6 hafta süren liglere katılabilirsniz.",
    icon: "bx:bxs-trophy",
  },
  {
    title: "Bireysel Oyun Analizi",
    description: "Kendi liginiin eğitmeni ile oyunlarınızı analiz edebilirsiniz. ",
    icon: "bx:bxs-bot",
  },
  {
    title: "Agora içeriklerine erişim",
    description:" Her kursun kendi ders içeriklerine erişebilirsiniz.",
    icon: "bx:bxs-book-reader",
  },
  {
    title: "Öğrencilere özel fiyatlandırma",
    description:
      "Lise ve üniversite öğrencilerinin yararlanabileceği indirimler için bizimle iletişime geçmeniz yeterli.",
    icon: "bx:bxs-discount",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Agora'nın Özellikleri
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Kendi seviyenize uygun dersler ve lig ile bir taş daha güçlenebilirsiniz.
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
