---
// import { Icon } from "astro-icon/components"; // Bu satırı silebilirsin artık
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Yalnız değiliz. Partnerlerimiz...</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <a 
      href="https://www.instagram.com/guzgo.k/" 
      target="_blank" 
      rel="noopener noreferrer"
      class="hover:scale-105 transition-transform duration-300"
    >
      <img 
        src="/GüzGo.png" 
        alt="Gugo Partner Logosu" 
        class="size-10 md:size-16 object-contain" 
      />
    </a>
   
  </div>
</div>